.desktop{
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    background-image: url("/src/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Apps{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.icones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-family: monospace;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    line-height: 0.1px;
    text-shadow: -0.4px -0.4px 0 #000, 0.4px -0.4px 0 #000, -0.4px 0.4px 0 #000, 0.4px 0.4px 0 #000;
}



.dock{
    display: flex;
    flex-direction: row;
    background-color: #2661df;
    height: 45px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.windows_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #008000;
    filter: grayscale(0.20);
}
#iniciar{
    color: white;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bolder;
}
.idioma{
    margin-right: 10px;
}
.idioma p{
    color: white;
}
.status{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.status_bar{
    padding-right: 3px;
    padding-left: 5px;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #0f84e1;
    border-left: black 1px solid;
}
.status_bar img{
    margin-right: 3px;
    margin-left: 2px;
}
.status_bar p{
    margin-left: 5px;
    margin-right: 5px;
}
.meuPC{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #005cfa;
    position: absolute;
}
.barra{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.barra p{
    color: white;
    line-height: 0.1;
}
.barra img{
    margin-left: auto;
}
.corpo{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 400px;
    height: 300px;
    color: black;
}
.corpo p{
    margin-left: 50px;
    font-weight: bolder;
}
.corpo_lixo{
    display: flex;
    color: black;
    width: 400px;
    height: 300px;
    justify-content: center;
    background-color: white;
}
.corpo_arquivo{
    display: flex;
    flex-direction: row;
    color: black;
    width: 400px;
    height: 300px;
    background-color: white;
}
.div_pasta{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: fit-content;
    line-height: 0.1px;
    align-items: center;
}
.div_pasta img {
    width: 48px;
    height: 48px;
}
.div_pasta p{

}
.menu{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    bottom: 45px;
    left: 0;
    height: 90%;
    width: 40%;
    background-color: #1f71d5;
    position: absolute;
}
.barra_menu{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}
.barra_menu img {
    border: white 2px solid;
    border-radius: 6px;
}
.barra_menu p {
    font-weight: bolder;
    font-size: 23px;
    color: white;
    margin-left: 10px;
}
.corpo_menu{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 70%;
    color: black;
    box-shadow:  0 0 20px 1px #DBA632;
}
.tabela01{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 50%;
}
.apptab1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.apptab1 p {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 5px;
}
.tabela02{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 50%;
    padding-left: 5px;
    color: #00309c;
    background-color: #d1e7f4;
}